<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>中山市蓝晶光学有限公司 - 二维码生成系统 - 二维码打印</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui-v2.5.5/css/layui.css}">
</head>
<body>
<ul style="width: 640px; height: 100px;">
    <li style="float: left; padding: 5px;" th:each="so : ${list}">
        <table class="layui-table" style="width: 300px;">
            <tbody>
            <tr>
                <td rowspan="3" style="width: 100px;">
                    <img th:src="${'/bill/deliver-goods-bill/qrcode?id=' + so.id}">
                </td>
                <td style="width: 200px;" th:text="${so.providerCode}"></td>
            </tr>
            <tr>
                <td style="width: 200px;" th:text="${so.batchCode}"></td>
            </tr>
            <tr>
                <td style="width: 200px;" th:text="${#dates.format(so.produceDate, 'yyyyMMdd') + so.workShiftName}"></td>
            </tr>
            </tbody>
        </table>
    </li>
</ul>
<script language="javascript" type="text/javascript" th:src="@{/static/layui-v2.5.5/layui.js}"></script>
<script language="javascript" type="text/javascript" th:src="@{/static/common/jquery/jquery-1.11.3.min.js}"></script>
<script language="javascript" type="text/javascript" th:src="@{/static/common/jquery-migrate-1.2.1.js}"></script>
<script language="javascript" type="text/javascript" th:src="@{/static/common/jquery.jqprint-0.3.js}"></script>
<script language="javascript" type="text/javascript" th:src="@{/static/templates/index/single.js}"></script>
</body>
</html>