<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui-v2.5.5/css/layui.css}">
    <style type="text/css">
        .layui-form-label {
            width: 100px;
        }
        .layui-input-block {
            margin-left: 130px;
        }
        .layui-footer {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-xs6 layui-col-md12">
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title">
                    <li class="layui-this">单个物品录入</li>
                    <li>多个物品录入</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class="layui-form-item">
                            <label class="layui-form-label">供应商代号：</label>
                            <div class="layui-input-block">
                                <input type="text" name="providerCode" lay-verify="供应商代号" autocomplete="off" placeholder="请输入供应商代号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">料号：</label>
                            <div class="layui-input-block">
                                <input type="text" name="providerCode" lay-verify="料号" autocomplete="off" placeholder="请输入料号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">批次号：</label>
                            <div class="layui-input-block">
                                <input type="text" name="providerCode" lay-verify="批次号" autocomplete="off" placeholder="请输入批次号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">生产日期：</label>
                            <div class="layui-input-block">
                                <input type="text" name="providerCode" lay-verify="生产日期" autocomplete="off" placeholder="请输入生产日期" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="button" class="layui-btn">生成二维码</button>
                                <button type="button" class="layui-btn">预览二维码</button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <form name="multiForm" class="layui-form" method="post" action="">
                            <table class="layui-table">
                                <colgroup>
                                    <col>
                                    <col width="300">
                                    <col width="300">
                                    <col width="300">
                                    <col width="80">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>供应商代号</th>
                                    <th>料号</th>
                                    <th>批次号</th>
                                    <th>生产日期</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody id="dataListTable">
                                <tr>
                                    <td><input type="text" name="multiProviderCode" value="" lay-verify="required" placeholder="请输入供应商代号" class="layui-input"></td>
                                    <td><input type="text" name="multiMaterielCode" value="" lay-verify="required" placeholder="请输入料号" class="layui-input"></td>
                                    <td><input type="text" name="multiBatchCode" value="" lay-verify="required" placeholder="请输入批次号" class="layui-input"></td>
                                    <td><input type="text" name="multiProduceDate" value="" lay-verify="required" placeholder="请输入生产日期" class="layui-input"></td>
                                    <td>
                                        <i class="layui-icon layui-icon-add-1" lay-event="add"></i>
                                        <i class="layui-icon layui-icon-delete" lay-event="delete"></i>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="layui-footer">
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="multiSubmitCreate">生成二维码</button>
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="multiSubmitPreview">预览二维码</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript" th:src="@{/static/layui-v2.5.5/layui.js}"></script>
<script language="javascript" type="text/javascript" th:src="@{/static/templates/index/index.js}"></script>
<script type="text/html" id="dataRowTpl">
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <td><input type="text" name="multiProviderCode" value="{{ item.providerCode }}" lay-verify="required" placeholder="请输入供应商代号" class="layui-input"></td>
        <td><input type="text" name="multiMaterielCode" value="{{ item.materielCode }}" lay-verify="required" placeholder="请输入料号" class="layui-input"></td>
        <td><input type="text" name="multiBatchCode" value="{{ item.batchCode }}" lay-verify="required" placeholder="请输入批次号" class="layui-input"></td>
        <td><input type="text" name="multiProduceDate" value="{{ item.produceDate }}" lay-verify="required" placeholder="请输入生产日期" class="layui-input"></td>
        <td>
            <i class="layui-icon layui-icon-add-1" lay-event="add"></i>
            <i class="layui-icon layui-icon-delete" lay-event="delete"></i>
        </td>
    </tr>
    {{#  }) }}
</script>
</body>
</html>